<h3 class="mb-3">Change password</h3>
<form action="/change-password" method="POST">
    {{#if message}}
        <div class="alert alert-{{#if messageStatus}}{{messageStatus}}{{else}}secondary{{/if}}" role="alert">{{message}}</div>
    {{/if}}

    <div class="mb-3">
        <label class="form-label" for="password">Current password</label>
        <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password"
               name="password" placeholder="Current password" value="{{or formInput.password _session.currentUser.password}}">
        {{#if errors.password}}
            <div class="invalid-feedback">{{errors.password}}</div>
        {{/if}}
    </div>
    <div class="mb-3">
        <label class="form-label" for="newPassword">New password</label>
        <input type="password" class="form-control {{#if errors.newPassword}}is-invalid{{/if}}" id="newPassword"
               name="newPassword" placeholder="New password" value="{{or formInput.newPassword _session.currentUser.newPassword}}">
        {{#if errors.newPassword}}
            <div class="invalid-feedback">{{errors.newPassword}}</div>
        {{/if}}
    </div>
    <div class="mb-3">
        <label class="form-label" for="confirmPassword">Confirm password</label>
        <input type="password" class="form-control {{#if errors.confirmPassword}}is-invalid{{/if}}" id="confirmPassword"
               name="confirmPassword" placeholder="Confirm password" value="{{or formInput.confirmPassword _session.currentUser.confirmPassword}}">
        {{#if errors.confirmPassword}}
            <div class="invalid-feedback">{{errors.confirmPassword}}</div>
        {{/if}}
    </div>
    <div class="form-footer d-flex justify-content-between">
        <button type="submit" class="btn btn-primary disable-on-submit">Save</button>
        <a href="/" class="btn btn-outline-secondary disable-on-submit">Back</a>
    </div>
</form>
