<h3 class="mb-3">Forget password</h3>
<form action="/forget-password" method="POST">
    {{#if message}}
        <div class="alert alert-{{#if messageStatus}}{{messageStatus}}{{else}}secondary{{/if}}" role="alert">{{message}}</div>
    {{/if}}

    <p>Enter your email address, if we detect that the email address is associated with an account, we'll send an email to help you recover the password.</p>

    <div class="mb-3">
        <label class="form-label" for="email">Email address</label>
        <input type="email" required class="form-control {{#if errors.email}}is-invalid{{/if}}" id="email"
               name="email" value="{{formInput.email}}">
        {{#if errors.email}}
            <div class="invalid-feedback">{{errors.email}}</div>
        {{/if}}
    </div>
    <div class="form-footer d-flex justify-content-between">
        <button type="submit" class="btn btn-primary disable-on-submit">Submit</button>
        <a href="/" class="btn btn-outline-secondary disable-on-submit">Back</a>
    </div>
</form>
