<h3 class="mb-3">Reset password</h3>
<form action="/reset-password" method="POST">
    {{#if message}}
        <div class="alert alert-{{#if messageStatus}}{{messageStatus}}{{else}}secondary{{/if}}" role="alert">{{message}}</div>
    {{/if}}

    <input type="hidden" name="token" value="{{token}}">

    <div class="mb-3">
        <label class="form-label" for="newPassword">New password</label>
        <input type="password" class="form-control {{#if errors.newPassword}}is-invalid{{/if}}" id="newPassword"
               name="newPassword" value="">
        {{#if errors.newPassword}}
            <div class="invalid-feedback">{{errors.newPassword}}</div>
        {{/if}}
    </div>
    <div class="mb-3">
        <label class="form-label" for="confirmPassword">Confirm password</label>
        <input type="password" class="form-control {{#if errors.confirmPassword}}is-invalid{{/if}}" id="confirmPassword"
               name="confirmPassword" value="">
        {{#if errors.confirmPassword}}
            <div class="invalid-feedback">{{errors.confirmPassword}}</div>
        {{/if}}
    </div>
    <div class="form-footer d-flex justify-content-between">
        <button type="submit" class="btn btn-primary disable-on-submit">Submit</button>
        <a href="/" class="btn btn-outline-secondary disable-on-submit">Back</a>
    </div>
</form>
